<%- include("../partials/header")%>

<div class="container main">
	<div class="row">
		<div class="col-md-4">
			<p class="lead">Yelpcamp</p>
			<div class="list-group">
		 <li class="list-group-item">Contact Person: <%= campgrounds.contact%> </li>
		 <li class="list-group-item">Contact Number: <%=campgrounds.phone%></li>
		 <li class="list-group-item">Location: <%=campgrounds.location%></li>
		  
			<div id="map"></div>
		  
			
		
		</div>
		
		</div>
	
			
	
		<div class="col-md-8" >
			<div class="card" >
				<img class="card-img-top image-width" src="<%= campgrounds.img %>">
				<div class="card-title comment_content">
					<h4 class="float-right price">
						₹<%= campgrounds.price %>/night
					</h4>
                    <h4 id="campground-name" > 
						<%= campgrounds.name %>
					</h4>
					<p class="float-right">
						<%= moment(campgrounds.createdAt, "YYYYMMDD").fromNow(); %>
					</p>
					<p>
						Posted by <em> <strong> <%= campgrounds.author.username %></strong> </em>
					</p>
					
					<hr>
                    <P>
						<%= campgrounds.description %>
					</P>
					
					<% if(currentUser && campgrounds.author.id.equals(currentUser._id)){ %>
					 <a class="btn btn-warning" href="/campgrounds/<%=campgrounds._id%>/edit">
						Edit
					 </a>
					 <form id="delete-camp" action="/campgrounds/<%=campgrounds._id%>?_method=DELETE" method="post">
						<button class="btn btn-danger">
							Remove
						</button>
					 </form>
					<% } %>
					
					
					
				</div>
			</div>
			  
			<div class="card card-body bg-light comment_card">
				<div class="text-right"> 
				  <a class="btn btn-success" href="/campgrounds/<%= campgrounds._id %>/comments/new"> Add new comments</a>
				</div>
				<hr>
				<% campgrounds.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %> </strong>
							<span class="float-right"> <%= moment(comment.createdAt, "YYYYMMDD").fromNow(); %></span>
							    <P>
								  <%= comment.text %>	
								</P>
						<%	if(currentUser && campgrounds.author.id.equals(currentUser._id)){ %>
							<a class="btn btn-warning btn-sm" href="/campgrounds/<%= campgrounds._id%>/comments/<%=comment.id%>/edit">
							 Edit
							</a>
							<form class="delete-comment" action="/campgrounds/<%= campgrounds._id%>/comments/<%=comment.id%>?_method=DELETE" method="POST">
							   <button  class="btn btn-danger btn-sm">
								  Delete
							  </button>	
							</form>
						<%	} %>
						</div>
				    </div>
				
				<%  }) %>
			</div>
		</div>
    </div>
</div>



<script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiYXR1bHNlbXdhbDUiLCJhIjoiY2tjc3dtOHhvMXN0ZjMzbGZxdTFuc3hpZSJ9.alZbw01taT9cs8vYlajm1g';
    var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });
    mapboxClient.geocoding
        .forwardGeocode({
            query: "<%=campgrounds.location%>",
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function(response) {
            if (
                response &&
                response.body &&
                response.body.features &&
                response.body.features.length
            ) {
                var feature = response.body.features[0];

                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: feature.center,
                    zoom: 12
                });
                new mapboxgl.Marker().setLngLat(feature.center).addTo(map);
            }
        });

</script>

<%- include("../partials/footer")%>